$bg-color: #f3f3f3;

* {
    font-family: "Open Sans", sans-serif;
}

body {
    background-color: $bg-color;
}

.navbar-brand {
    font-size: 21px;

    small {
        font-size: 15px;
    }
}

.panel-heading {
    font-size: 18px;
}

a.list-group-item, .back-btn {
    cursor: pointer;
}

.define-error {
    margin-top:15px;
    margin-bottom:0;
}
