$bg-color: #f3f3f3;

* {
    font-family: "Open Sans", sans-serif;
}

body {
    background-color: $bg-color;
}

.navbar-brand {
    font-size: 21px;

    small {
        font-size: 15px;
    }
}

.animate-fade {
    -webkit-transition: opacity linear 0.2s;
            transition: opacity linear 0.2s;
}

.animate-fade.ng-hide,
.animate-fade.ng-enter,
.animate-fade.ng-leave.ng-leave-active {
    opacity: 0;
}

.animate-fade.ng-leave,
.animate-fade.ng-enter.ng-enter-active {
    opacity: 1;
}

.animate-fade.ng-leave,
.animate-fade.ng-leave.ng-leave-active {
    position: absolute;
}

.panel-heading {
    font-size: 18px;
}

a.list-group-item, .back-btn {
    cursor: pointer;
}

.define-error {
    margin-top:15px;
    margin-bottom:0;
}
