<div class="single-word">
    <div class="panel panel-default">
        <div class="panel-heading">
            <span ng-click="vm.viewWords()" class="back-btn glyphicon glyphicon-chevron-left"></span>
            Definitions for "{{vm.getSelectedWord()}}" ({{vm.getSelectedDefs().length}})
        </div>
        <ul class="list-group">
            <li ng-repeat="def in vm.getSelectedDefs()" ng-click="vm.viewWord($index)" class="list-group-item">
                {{$index + 1}}. {{def}}
            </li>
        </ul>
    </div>
</div>
